@import '../../shared/styles/variables';
@import '../../shared/styles/base';
@import '../../shared/styles/mixins';

.box {
}
.about {

		&__section {
		}

		&__main {

			&_info {
			}

			&_title {
                font-size: 42px;
                font-weight: 700;
                color: $black;
                border-top: 5px solid $primary;
			}

			&_text {
                width: 67%;
                margin-top: 30px;
                line-height: 26px;
                color: $black;
			}

			&_get {
                margin-top: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 60px;
			}

			&_happy {
                margin-top: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 60px;
			}
		}

		&__mono {

			&_title {
                margin-top: 40px;
                font-size: 34px;
                font-weight: 700;
                color: $black;
			}

			&_list {
                margin: 30px 0 0 20px;
			}
		}
}
.container {
    max-width: 1200px;
    margin: 50px auto 100px;
}
.wrapper {

		&__about {
		}
}
.mono {

		&__list {

			&_item {
                color: $black;
                list-style-type: disc;
                margin-top: 10px;
			}
		}
}
.main {

		&__get {

			&_image {
                border-radius: 10px;
			}

			&_text {
			}
		}

		&__happy {

			&_text {
			}

			&_image {
                border-radius: 10px;
			}
		}

        &__info {

            &_text {
                @include flex-center;
            }
        }
}
.get {

		&__text {

			&_title {
                font-size: 32px;
                font-weight: 700;
                color: $black;
			}

			&_item {
                margin-top: 30px;
                width: 460px;
                line-height: 26px;
                color: $black;
			}
		}
}
.happy {

		&__text {

            &_title {
                font-size: 32px;
                font-weight: 700;
                color: $black;
			}

			&_item {
                margin-top: 30px;
                width: 460px;
                line-height: 26px;
                color: $black;
			}
		}
}
.advantages {

		&__section {
		}

		&__wrapper {
            margin-top: 100px;
		}

		&__title {
            font-size: 34px;
            font-weight: 700;
            color: $black;
            text-align: center;
		}

		&__card {
            width: 25%;
            @include flex-center;
            flex-direction: column;
            position: relative;
            padding-top: 20px;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                border-right: 1px solid $lightgray;
                height: 100%;
                right: 0;
            }
		}
}
.card {

		&__advantages {

			&_wrapper {
                width: 100%;
                @include flex-between;
                margin-top: 40px;
			}
		}

		&__image {
            width: 85px;
            height: 85px;
            @include flex-center;
            background: $primary;
            border-radius: 10px;

			&_item {
			}
		}

		&__title {
            margin-top: 24px;
            font-weight: 700;
            font-size: 18px;
            color: $black;
		}

		&__text {
            width: 80%;
            text-align: center;
            line-height: 22px;
            margin-top: 10px;
		}
}
