<div class="box">
    <section class="product__section">
        <div class="container">
            <div class="product__wrapper">
                <div class="product__wrapper_title">
                    <p class="product__text_title">Продукти</p>
                </div>
                
                <div class="product__wrapper_nav">
                    <ul class="product__nav">
                        <li class="product__nav_list">
                            <a href="" class="nav__list_item nav__list_active">Всі</a>
                        </li>
                        <li class="product__nav_list">
                            <a href="" class="nav__list_item">Роли Філадельфія</a>
                        </li>
                        <li class="product__nav_list">
                            <a href="" class="nav__list_item">Роли Каліфорнія</a>
                        </li>
                        <li class="product__nav_list">
                            <a href="" class="nav__list_item">Запечені Роли</a>
                        </li>
                        <li class="product__nav_list">
                            <a href="" class="nav__list_item">Фірмові Суші</a>
                        </li>
                        <li class="product__nav_list">
                            <a href="" class="nav__list_item">Преміум Суші</a>
                        </li>
                        <li class="product__nav_list">
                            <a href="" class="nav__list_item">Роли Макі</a>
                        </li>
                    </ul>
                </div>

                <div class="product__main_wrapper">
                    <div class="product__card" *ngFor="let product of userProducts">
                        <div class="card__image_wrapper">
                            <img [routerLink]="['/product/' + product.category.path, product.id]" [src]="product.imagePath" alt="" class="product__card_image">
                        </div>
                        <div class="card__info_wrapper">
                            <h3 [routerLink]="['/product/' + product.category.path, product.id]" class="card__info_title">
                                {{ product.name | slice:0:22 }}
                                <span *ngIf="product.name.length > 22">...</span>
                            </h3>
                            <div class="card__info_desc">
                                <p class="info__desc_ing">
                                    {{ product.ingredients | slice:0:30 }}
                                    <span *ngIf="product.ingredients.length > 30">...</span>
                                </p>
                                <h4 class="info__desc_weight">{{ product.weight }}</h4>
                            </div>
                            <div class="card__info_order">
                                <p class="info__order_price"><span class="order__price_bold">{{ product.price }}</span> грн</p>
                                <div class="info__order_count">
                                    <button class="order__count_minus order__count_btn">-</button>
                                    <span class="order__count_text">1</span>
                                    <button class="order__count_plus order__count_btn">+</button>
                                </div>
                                <button class="info__order_button" type="button">Замовити</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
